*{
  /* font-family: 'Baloo Tammudu 2', cursive; */
  /* font-family: 'Lobster', cursive; */
  font-family: 'Overlock', cursive; 
}
body {
  background: #B5DFCA; 
  display: flex;
  flex-direction: column;
  align-items: center;
  }

header{
  color: rgb(0, 0, 0);
  text-align: center;
}

  .btn-start {
    color: #494949;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #494949 ;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-top: 2rem;
    font-size: x-large;
  }

  .btn-start:hover {
    color: #ff6022;
    border-radius: 50px;
    border-color: #ff6022;
    transition: all 0.3s ease 0s;
    }

  .hide {
    display: none;
  }

  /* New Styles */

.gameboard{
  background-color: #1B1C1F;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "topLeft topRight"
  "bottomLeft bottomRight";
  border-radius: 36%;
  margin-top: 5vh;
}
  .button{
    min-height: 20vh;
    min-width: 20vh;
    margin: 0.7rem;
    cursor: pointer;
  }
  .top-left{
    background-color: #C3423F;
    border-radius: 100% 30% 30% 30%;
    grid-area: topLeft;
    justify-self: center;
  }

  .top-right{
    background-color: #53AFD6;
    border-radius:30% 100% 30% 30%;
    grid-area: topRight;
    justify-self: center;
  }

  .bottom-left{
    background-color: #FDE74C;
    border-radius: 30% 30% 30% 100%;
    grid-area: bottomLeft;
    justify-self: center;
  }

  .bottom-right{
    background-color: #9BC53D;
    border-radius: 30% 30% 100% 30%;
    grid-area: bottomRight;
    justify-self: center;
  }

  .top-left.light{
    background-color: #E3A9A7;
  }

  .top-right.light{
    background-color: #A5DCF4;
  }

  .bottom-left.light{
    background-color: #FEF4AD;
  }

  .bottom-right.light{
    background-color: #D1E4A6;
  }

  .footer{
    background-color: grey;
    font-weight: bold;
    font-size: large;
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: center;
  }

  .toggle-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toggleLabel{
    font-size: larger;
  }

  .instructions-dialog-trigger{
    margin-left: 5%;
    font-size: larger;
    cursor: help;
  }
  .instructions-dialog-header, 
  .instructions-dialog-content, 
  .instructions-dialog-footer{

    padding: 0.5em 0.5em;
  }

  #upCloseButton{
    float: right;
  }

  .swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #ff6022;
    font-size: 12px;
    border: 1px solid #ff6022;
  }

.swal-button:not([disabled]):hover {
  background-color: #ff6022;
}